#config
.env
auth0-credentials.json

playwright/.auth/

# dependencies  
node_modules/

# playwright artifacts
test-results/
playwright-report/
blob-report/

# OS
.DS_Store

# reports
playwright-report/
test-results/
blob-report/